p {
    color: green;
    font-size: large;
    font-weight: bold;
}

p strong {
    font-weight: normal;
}

h1 {
    text-align: center;
}

html {
    font-family: "Bitcount Grid Double";
    background-color: pink;
}

p {
    padding: 5px;
}

.highlight_01 {
    background-color: rgb(235, 158, 207);
}

.highlight_02 {
    background-color: rgb(43, 226, 58);
}

.highlight_03 {
    background-color: blue;
}

#pink-small {
    width: 50px
}

#pink-large {
    width: 100px;
}

.test-div {
    background-color: antiquewhite;
    margin: 30px;
    padding: 40px;
}
.my-flex{display: flex;}