body {
   display: grid;


   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}
#funny{
   grid-column: 1/span 2; text-align: center; background-color: aqua;
   display: grid; gap: .75rem; padding: 1rem; grid-template-columns: repeat(4, 1fr);
}
#funny button {
   height: 3rem;
}
#vol{
   grid-column: 3; text-align: center; background-color: blue;
   display: grid; grid-template-columns: 1fr 1fr; padding: 1rem; gap: 1rem;
}